<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.hziee.mapper.StudentMapper">



    <select id="findById" parameterType="Integer" resultType="cn.edu.hziee.model.Student">

        select * from student where id=#{id}

    </select>



    <select id="findByName" parameterType="String" resultType="cn.edu.hziee.model.Student">

        select * from student where username like concat('%',#{value},'%')

    </select>



    <insert id="insert" parameterType="cn.edu.hziee.model.Student">

        insert into student(id,code,username,age,gender) values(#{id},#{code},#{username},#{age},#{gender})

    </insert>



    <delete id="delete" parameterType="Integer">

         delete from student where id=#{id}

     </delete>

</mapper>